<div class="container-fluid" style="margin:10px">
   <div class="row">
      <div class="pin">
         <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
         <div> 
            blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
         </div>
         
      </div>
      <div class="pin">
         <img src="http://www.teslamotors.com/tesla_theme/assets/img/support/model-s-red@2x-png8.png" />
         <div class="well">
            blah blah blah blah blah blah blah blah h
         </div>
      </div>
      <div class="pin">
         <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
         <div class="well"> 
            blah blah blah blah
         </div>
      </div>
      <div class="pin">
         <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
         <div class="well"> 
            blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah 
         </div>
      </div>
      <div class="pin">
         <img src="http://www.teslamotors.com/tesla_theme/assets/img/support/model-s-red@2x-png8.png" />
         <div class="well"> 
            blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
         </div>
      </div>
      <div class="pin">
         <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
         <div class="well"> 
            blah blah blah. The container inside the item must be position:relativeblah blah blah. The container inside the item must be position:relativeblah blah blah. The container inside the item must be position:relativeblah blah blah. The container inside the item must be position:relativeblah blah blah              
         </div>
      </div>
      <div class="pin">
         <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
         <div class="well"> 
            blah blah blah blah
         </div>
      </div>
   </div>
   <hr>
   <footer class="margin-tb-3">
      <div class="row">
         <div class="col-lg-12">
            <p>Copyright &copy; Sitename 2015</p>
         </div>
      </div>
   </footer>
</div>